# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/

# IDE files
.idea/
.vscode/

# Environment variables
.env
*.env

# Local databases
*.sqlite
*.db
instance/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS system files
.DS_Store
Thumbs.db
